@font-face{
  font-family: trial;
  src: url('Borda Bold.ttf');
  font-weight: bold;
  font-size-adjust: 1.5;
}

#maintitle{
  color: rgb(44, 44, 44);
  padding: 5px 5px 5px 25px;
  font-family: trial;
  font-size: 80px;
  background: rgb(36, 36, 36, 0.5);
  border: 1px solid #000000;
}

body {
  background: #e4fbff;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: trial;
  font-size: 40px;
  color: #444444;
  background: #fafafa;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #646464;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar {
  background: rgb(36, 36, 36, 0.5);
  border-radius: 0;
}
.navbar-nav {
  height: 80px;
  padding-left: 15px;
  text-align: center;
}
.navbar a{
  margin-left: 80px;
  font-size: 1.6em !important;
  border-radius: 4px 4px;
}
.navbar li{
  padding-top:5px;
}

.navbarItem{
  font-family: trial;
  margin: 10px 25px 25px 25px;
  background-color: #9ee200;
  border: 1px solid #c0c0c0;
  margin-left: 80px;
}
.nav.navbar-nav.navbar-left li a {
  color: black;
}
.nav.navbar-nav.navbar-left li a:hover{
  color: white;
}
.nav.navbar-nav.navbar-right li a {
  color: black;
}
.nav.navbar-nav.navbar-right li a:hover{
  color: white;
}


#register{
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}


.content-section {
  font-family: trial;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #646464;
  border-radius: 10px;
  margin-bottom: 50px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
