{% extends "layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
    <h1>{{title}} Page</h1>
    <div class="content-section">
        <form action="" method="post">
            <form action="" method="post">
                {{wtf.quick_form(form,button_map={'submit': 'primary'})}}
            </form>
            <br></br>
            <p>
                {{message}}
                <font size="4"><strong>{{messageValue}}</strong></font>
                <br></br>
                <p>{{message2}}</p>
                <font size="5"><strong>{{message2Value}}</strong></font>
            </p>
        </form>
    </div>
{% endblock content %}