<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <div id = "maintitle">Calorie Tracker</div>

    {% if title %}
        <title>Calorie tracker - {{ title }}</title>
    {% else %}
        <title>Calorie tracker</title>
    {% endif %}
</head>
<body>
  <nav class="navbar navbar-inverse fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand mr-4, navbarItem" href="/">Forum</a>
          <li><a class="navbar-brand mr-4, navbarItem" href="{{ url_for('home') }}">Home</a></li>
          <li><a class="navbar-brand mr-4, navbarItem" href="{{ url_for('bmi') }}">Calculate BMI</a></li>
          <li><a class="navbar-brand mr-4, navbarItem" href="{{ url_for('bmr') }}">Calculate BMR</a></li>
          <li><a class="navbar-brand mr-4, navbarItem" href="/search">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a class="navbar-brand mr-4, navbarItem" href="/record">Record</a></li>
            <li><a class="navbar-brand mr-4, navbarItem" href="/dailySummary">Daily Summary</a></li>
            <li><a class="navbar-brand mr-4, navbarItem" href="{{ url_for('new_post') }}">New Post</a></li>
            <li><a class="navbar-brand mr-4, navbarItem" href="{{ url_for('account') }}">Account</a></li>
            <li><a class="navbar-brand mr-4, navbarItem" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="navbar-brand mr-4, navbarItem" href="/login">Login</a></li>
            <li><a class="navbar-brand mr-4, navbarItem" href="/register">Register</a></li>
            {% endif %}

        </ul>
    </div>
  </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
   
</body>
</html>
