<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Calories tracker - {{ title }}</title>
    {% else %}
        <title>Calories tracker</title>
    {% endif %}
</head>
<body>
  <nav class="navbar navbar-inverse fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand mr-4" href="/">Forum</a>
        <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Home</a>
        <a class="navbar-brand mr-4" href="{{ url_for('bmi') }}">BMI</a>
        <a class="navbar-brand mr-4" href="{{ url_for('bmr') }}">BMR</a>
        <a class="navbar-brand mr-4" href="/search">Search</a>
        <a class="navbar-brand mr-4" href="/record">Record</a>
        <a class="navbar-brand mr-4" href="/dailySummary">Daily Summary</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a class="navbar-brand mr-4" href="{{ url_for('new_post') }}">New Post</a></li>
            <li><a class="navbar-brand mr-4" href="{{ url_for('account') }}">Account</a></li>
            <li><a class="navbar-brand mr-4" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="navbar-brand mr-4" href="/login">Login</a></li>
            <li><a class="navbar-brand mr-4" href="/register">Register</a></li>
            {% endif %}

        </ul>
    </div>
  </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
   
</body>
</html>
