{% extends "layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h1>Log In</h1></legend>
                {{wtf.quick_form(form,button_map={'submit': 'primary'})}}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <small class="text-muted">
            <div id="register">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Register Now</a>
            </div>
        </small>
    </div>
{% endblock content %}
