{% extends "layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
    <h1>Daily Calories Record</h1>
    <div class="content-section">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Quantity</th>
            <th>Delete</th>
          </tr>
          {% for food in food_list %}
          <tr>
              <td>{{ food.date}}</td>
              <td>{{ food.name }}</td>
              <td>{{ food.calories }}</td>
              <td><a href="/add?date={{food.date}}&name={{food.name}}&calories={{food.calories}}&quantity={{food.quantity-1}}"><button class="btn btn-primary">-</button></a>{{ food.quantity }}<a href="/add?date={{food.date}}&name={{food.name}}&calories={{food.calories}}&quantity={{food.quantity+1}}"><button class="btn btn-primary">+</button></a></td>
              <td ><a href="/deleteRecord?date={{food.date}}&name={{food.name}}&calories={{food.calories}}&quantity={{food.quantity}}"><button class="btn btn-primary">Delete</button></a></td>
          </tr>
          {% endfor %} 
    </table>  

    
    <form method="POST" action="">
        <div class="form-group">
          <label for="Inputdate">Date</label>
          <input type="date" value="{{today}}" required class="form-control" disabled>
        </div>
        <div class="form-group">
          <label for="Inputcalories">Total Calories</label>
          <input type="text" class="form-control" value={{total}} disabled>
        </div>
        {% if total == 'None' %}
        <button type="submit" class="btn btn-default" disabled>Submit</button>
        {% else %}
        <button type="submit" class="btn btn-default"><a href="/submitSummary?date={{today}}&total={{total}}">Submit</a></button>
        {% endif %}
      </form>
    </div>

   
{% endblock content %}