{% extends "layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
    <div class="content-section">
        <form method="POST" action="">
            <legend class="border-bottom mb-4">Register</legend>
            {{ form.hidden_tag() }}
            {{wtf.quick_form(form,button_map={'submit': 'primary'})}}
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
